<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Dependancy App" Language="1033" Version="1.0.0.0" Manufacturer="Judah" UpgradeCode="3c8e04f1-3712-45bb-917a-525d0a5a3c2b">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of Dependancy App is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Dependancy App" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="ShortcutComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Dependancy App" />
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="Dependancy App"/>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="MainComponent" Guid="73091FE2-219E-481C-A071-A8F630E2D7D5">
				<File Id="MainDependnecies" Source="$(var.DependancyApp.TargetDir)DependancyApp.deps.json" />
				<File Id="MainDll" Source="$(var.DependancyApp.TargetPath)" />
				<File Id="MainExecutable" Source="$(var.DependancyApp.TargetDir)DependancyApp.exe" KeyPath="yes" />
				<File Id="MainPdb" Source="$(var.DependancyApp.TargetDir)DependancyApp.pdb" />
				<File Id="MainRuntimeConfig" Source="$(var.DependancyApp.TargetDir)DependancyApp.runtimeconfig.json" />
			</Component>
			<Component Id ="NewtonsoftJson" Guid="6AE24DB1-0C9D-4D24-A3C8-79DDB8FFE88B">
				<File Id="NewtonsoftJsonDll" Source="$(var.DependancyApp.TargetDir)Newtonsoft.Json.dll" KeyPath="yes" />
			</Component>
			<Component Id ="Markdig" Guid="15DE8194-4F31-4551-97E4-95A2D55C7076">
				<File Id="MarkdigDll" Source="$(var.DependancyApp.TargetDir)Markdig.dll" KeyPath="yes" />
			</Component>
		</ComponentGroup>
		<ComponentGroup Id="ShortcutComponents" Directory="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="4AC16435-DC00-4E8E-BE66-A056834B4205">
				<Shortcut Id="ApplicationStartMenuShortcut"
							Name="Dependancy App"
							Description="A sample app for A1"
							Target="[#MainExecutable]"
							WorkingDirectory="INSTALLFOLDER"/>
				<RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\SwinStudent\Dependancy App" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
